@charset "utf-8";
/* CSS Document */


#top {
/* 	background-color:#f4d942; */
	background-color:#000000;
	color: #FFFFFF;
    text-align: center;
	overflow: hidden;
 	width: 100%;
	font-weight: bold;
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 10px;
}

#top-center {
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	display: flex;
	flex-direction: row;

}
#top-center img {
	padding-left: 10px;
	padding-right: 10px;
}

#top-title {
	color: #FFFFFF;
    text-align: center;
	justify-content: flex-end;
/*  overflow: hidden; */
	font-weight: bold;
}


#topnav {
	color: #FFFFFF;
	text-align: right;
	justify-content: flex-end;
	margin-right: 25px;
 
}

#topnav a {	
	color: #FFFFFF;
	text-decoration: none;	
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background: url(../images/fade_dk.png) top center repeat-x;
	background-color:#efeeff;
	padding-bottom: 20px;
	width: 100%;
	position: relative;
 }

.content {
	padding: 16px;
	text-align: center;
}

.fixd {
	position: fixed;
	top: 0;
}

.fixd + .content {
	padding-top: 60px;
}

.wrapper {
	width: 100%;
}

#view-page {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	flex: 1;
	justify-content: center;
}

#image-block {
	justify-content: center;
}
 
 

#date {
	text-align:center;
	color: #211f21;
	font-weight: bold;
	padding: 25px;
}

#nav {
	color: #4286f4;
	font-size: 20px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding: 16px 16px;
 
 
}

#nav a {
	color: #4286f4;
	text-decoration: none;
	padding: 16px 16px;
 
}
	
#nav a:hover {
	background-color: #000000;
	color: #ffffff;
}

.news {
	font-size: 18px;
	color: #1d1249;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	word-wrap: normal;
 
}

#catalog {
/*  background-color: #e5d5f2; */
	background-color: #efeeff; 
	display: flex;
	flex-wrap: 	wrap;
	color: #1d1249;
	padding: 10px;
	margin: 10px;
	gap: 10px;
	align-items: left;
}

#catalog a {
	text-decoration: none;
}

#catalog img {
	 box-shadow: 1px 1px 2px grey;
}

#catalog img:hover {
	
}

hr.catalog {
	border-top: 1px solid #000000;
}

img:hover {
	
}

.thumbnail {
	
}


#footer {
	background-color:#2a2b28;
    padding: 4px 4px;
	color: #FFFFFF;
    text-align: center;
	overflow: hidden;
 	width: 100%;
	position: absolute;
	left: 0; right: 0; bottom: 0;
	height: 20px;
}

